<div ng-controller="profileEditorController">
  <form>
    <div ng-show="selected"></div>
    <h4>Where Are You From?</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.location">
    <h4>Tech Interests</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.interests">
    <h4>Hobbies</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.hobbies">
    <h4>Favorite Movies</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.movies">
    <h4>Favorite Books</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.books">
    <h4>Favorite Quote</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.quote">
    <h4>3 Interesting Facts About Myself</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.facts">
    <br> 
    <button ng-click="saveProfile()">Save</button>
  </form>
</div>