<div ng-controller="profileEditorController">
  <form>
    <div ng-show="selected"></div>
    <h4>Where Are You From?</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.location">
    <br>
    <h4>Twitter Url</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.twitter">
    <h4>Blog Url</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.blog">
    <h4>LinkedIn</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.linkedIn">
    <h4>Bio</h4>
    <br>
    <input type="text" name="input" ng-model="userProfile.bio">
    <br>
    <button ng-click="saveProfile()">Save</button>
  </form>
</div>