<div class ="modal-singUp singUp">
  <p class="singUpTitle"> Create New Community <p>
  <form name="myForm" class="simple-form singUpForm" novalidate>
    <table class="singUpTable">
      <tr>
        <td><input type="text" name="name" pattern="[a-zA-Z0-9]+" maxlength="11" ng-model="community.name" placeholder="Name" required/>
          <p ng-show="myForm.name.$invalid && !myForm.name.$pristine" class="error-block">No special characters or whitespace</p>
        </td>
      </tr>
      <tr>
        <td><input type="email" name="email" ng-model="community.email" placeholder="E-mail" required/>
          <p ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="error-block">Enter a valid email.</p>
        </td>
      </tr>
      <tr>
        <td><input type="password" name="password" ng-model="community.password" placeholder="Password" required/>
           <p ng-show="myForm.password.$invalid && !myForm.password.$pristine" class="error-block">Enter a valid password.</p>
        </td>
      </tr>
    </table>
    <input type="button" ng-click="reset()" value="Reset"/>
    <input type="submit" ng-disabled="myForm.$invalid" ng-click="update(community)" value="Submit"/>
  </form>
</div>
