<div id="landingPage">
  <div class="landingJumbo">
    <div class="container">
      <h1>Interim</h1>
      <br>
      <h1 id="landing-snippet">Verified communities for you to build and explore.</h1>
    </div>
  </div>

    <div id="landing-sign-in">
      <h2 class="form-signin-heading">Have an account?</h2>
        <a class="btn btn-block btn-social btn-github"  ng-click="githubAuth()">
          <i class="fa fa-github"></i> Sign in with GitHub
        </a>

        <div id="singInInputs" class="communitySignIn">
          <p>Communities:</p>
          <form novalidate class="form-signin">
            <input type="email" class="form-control" ng-model="community.email" placeholder="E-mail" id="landing-form" autofocus/>
            <br>
            <input type="password" class="form-control" ng-model="community.password" placeholder="Password" id="landing-form"/>
            <br>
            <input type="submit" class="btn btn-lg btn-primary btn-block" id="sign-in-btn" ng-click="signIn(community)" value="Submit" />
          </form>
        </div>
    </div>

    <div class="create-community-landing">
      <h2 class= "newCommunity">Join Interim</h4>
      <p>Sign up and create a verified network for your organization, business, or group!</p>
      <button class="btn btn-lg btn-primary btn-block" id="create-cm-btn" ng-click="communityModal()">Create a community</button>
   </div>
</div>
