/*landingPage.html css starts here*/
/*github button*/
#github {
  width: 180px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/*Interim Name*/
#nameLoginPage {
  color: #0288d1;
  font-size: 450%;
  text-align: center;
  margin-top: 15%;
}
/*landingPage.html css ends here*/

/*yourCommunityList.html css starts here*/
#navContent {
  float:right;
  padding-right: 2%;
}

#YourCommunitiesName {
  font-size: 250%;
  text-align: center;
  margin-top: 80px;
}

#communityThumbnail {
  background-color: #ccd3dc;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 5px #888888;
}
/*yourCommunityList.html css ends here*/

/*userProfile.html css starts here*/
#user {
  background-image: url("/app/assets/profilebg.png");
  background-size: 100% 100%;
  width: 260px;
  height: 390px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 5px #888888;
}

#userProfileImage {
  border: 2px solid white;
  width: 100%;
  height: 42%;
}

#profileImage {
  width: 98%;
  height: 98%;
}

#userProfileName {
  text-align: center;
  color: white;
}

#userBio {
  height: 30%;
  overflow: auto;
}
/*userProfile.html css ends here*/

/*useruserBottomSidebar.html css starts here*/
#userBottomSidebar {
  position: absolute;
  background-color: #2869b2;
  width:24%;
  height: 60px;
  bottom:0;
  z-index: 3;
}
/*useruserBottomSidebar.html css ends here*/

/*communityTopSidebar.html css starts here*/
#communityTopSidebar {
  position: absolute;
  background-color: #2869b2;
  width:24%;
  height: 60px;
  top:0;
  display: inline-block;
  z-index: 3;
}
/*communityTopSidebar.html css ends here*/

/*useruserBottomSidebar.html and communityTopSidebar.html css starts here*/
/*aligns image and limits display size*/
#contentImage {
  margin-top: 4%;
  margin-left: 6%;
  height: 40px;
  width: 40px;
}

/*aligns text for username*/
.text-right {
  top: 20px;
  left: 80px;
  position: absolute;
  color: white;
}
/*useruserBottomSidebar.html and communityTopSidebar.html css ends here*/

/*dashboard.html css starts here*/
.dashboard {
  position: absolute;
  padding-top: 5%;
  background-color: #80b1e8;
  width: 24%;
  height: 100%;
  z-index: 1;
}

/*modal for private room top and bottom div tag*/
.privateRoomModal{
  background-color: #2869b2;
  color: white;
}

/*modal for private room, center*/
.modalStyle {
  overflow: auto;
  height: 100px;
}

#myModal {
  color:black;
  left: 200px;
  z-index: 10;
}

.userLinkColor {
  color: #2869b2;
  cursor:pointer;
}

.userLinkColor:active {
  color: #80b1e8;
}

#roomsContent {
  color: white;
  margin-left: 10%;
}

#contentNames {
  margin-top: 10%;
  color: #2869b2;
  text-shadow: 1px 1px #888888;
}

#contentBucketRooms {
  position: absolute;
  overflow: auto;
  height: 30%;
  width: 90%;
}

#contentBucketUsers {
  position: absolute;
  overflow: auto;
  height: 100%;
  width: 90%;
}

#rooms {
  position: inherit;
  top:0;
}

#tags {
  position: absolute;
  top: 300px;
  width: 100%;
  height: 30%;
  color: #2869b2;
}

#insideContent {
  margin-left: 4%;
  margin-right: 3%;
}

#linkColor {
    color: white;
}

#linkColor:hover {
    color: #2869b2;
}

.modalImage {
  margin-right: 10px;
  width:20px;
  height:20px
}
/*dashboard.html css ends here*/

/*chat.html css starts here*/
.chat {
  right: 0px;
  width: 66%;
}

/*css for displaying messages starts here*/
#chatMessage {
  position: absolute;
  top: 2%;
  right:0;
  height: 95vh;
}

#contentMessages {
  position: inherit;
  overflow: auto;
  width: 90%;
  height: 90vh;
  left: 5%;
  bottom:20px;
}

.message {
  width:90%;
}

#chatImage {
  width:60px;
  height:60px;
}

.img-rounded {
  cursor: pointer;
}

#chatTime {
  color: #888888;
  margin-left: 10%;
}

.chatTags {
  color:#888888;
}
/*css for displaying messages ends here*/

/*chat input starts here*/
#chatRow {
  position: absolute;
  right: 17%;
  width: 70%;
  bottom: 5px;
  visibility: hidden;
}

#chatUpButton {
  height:34px;
}
/*chat input ends here*/
/*chat.html css ends here*/



/*community profile start*/
#communityProfAvi {
  margin-right: 5%;
  float: left;
}

.communityProfBasicInfo {
  margin-top: 1%;
}
/*community profile end*/


.superadminYeah{
  width: 100%;
  height: 100%;
  text-align: center;
}
