/*
=================================
            LANDING PAGE
=================================
*/

/*github button*/
#sign-in-btn {
  background: #2869b2;
  font-size: 18px;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.btn-github{
  width: 220px;
  background: #2869b2;
  font-size: 18px;
  left: 50%;
  margin-left: -110px;
}

.btn-github:hover {
  background: #2869b2;
}

.landingJumbo {
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#2869b2), to(#63CCB6));
  font-family: 'raleway';
}

.landingJumbo h1 {
  font-size: 40px;
  font-weight: 100;
}

#landing-snippet {
  font-size: 20px;
}

#landing-sign-in {
  margin-top: 70px;
  text-align: center;
  font-family: 'lato';
  font-weight: 200;
}

#landing-form {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.communitySignIn {
  margin-top: 30px;
}

.form-signin-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #71787F;
}

.communitySignIn p{
  color: #71787F;
}

.newCommunity {
  font-family: 'lato';
  color: #71787F;
  padding-bottom: 10px;
}

.create-community-landing {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.create-community-landing {
  color: #71787F;
}

#create-cm-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* 
=================================
            COMMUNITY LIST
=================================
*/


#navContent {
  float:right;
  padding-right: 2%;
}

.messageText {
  word-wrap: break-word;
}

#chatImage {
  width: 36px;
  height: 36px;
}

.img-rounded {
  cursor: pointer;
}

.chatTime {
  color: #888888;
  opacity: 0.4;
  margin-left: 5px;
  cursor: pointer;
}


.userNameChat {
  color:#2869b2;
  opacity: 0.6;
}

#search-bar {
  font-size: 25px;
  height: 40px;
  margin: 10% auto 10%;
}


.community-thumbnail {
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  background-color: #f8f8ff;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

#community-icon {
  height: 300px;
  width: 300px;
}

#welcomeMessage {
  font-family: 'raleway';
  margin-bottom: 4%;
  color: #80b1e8;
  font-weight: 300;
}

#YourCommunitiesName {
  font-size: 250%;
  text-align: center;
  margin-top: 80px;
}

.communityImage {
  width: 100%;
  height: 100%
}

.communityName {
  color: #0288d1;
  font-size: 100%;
  text-align: center;
  margin-top: 15%;
}

.thumbnailOverlay {
position: absolute;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 89%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(89%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 89%,rgba(0,0,0,0.8) 90%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 89%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 89%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 89%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}

.thumbnailOverlay:hover {
  background-color: rgba(36, 92, 92, 0.4);
  border: 2px solid #5C5C5C;
}

#thumbnailText {
  font-size: 16px;
  left: 0;
  width: inherit;
  position: absolute;
  color: white;
  bottom:0;
}

.thumbnailCenter {
  display: inline-block;
  float: none;
}

#yourCommunityList {
  margin-top: 150px;
  font-family: 'lato';
}

#discover-panel {
  margin-top: 350px;
}


/* 
=================================
           COMMNUNITY PROFILE
=================================
*/

.community-profile-wrap {
  font-family: 'lato';
}
.jumbotron {
  margin-top: 50px;
  background-color: #80b1e8;
  color: #e9e9e9;
}


.communityAvi {
  border-radius: 10px;
}

.communityProfAvi {
  margin-right: 5%;
  float: left;
}

.communityProfBasicInfo {
  margin-top: 1%;
}

.profileBucket {
  width: 100%;
  height: 200px;
}

.groupList {
  width: 200px;
  height: 400px;
  overflow-x: auto;
}

.communitySocial {
  font-size: 15px;
}

.communitySocial span {
  font-size: 12px;
}

.communitySocial a{
  text-decoration: none;
  color: #e9e9e9;
}

.communitySocial a:hover {
  color: black;
}

#community-social-btn {
  padding-left: 10px;
}

#communityIcon {
  margin-bottom: 20px;
}

#location {
  padding-right: 10px;
}

.button-holder {
  margin-top: 75px;
  margin-left: 80%; 
}

#community-name {
  font-family: 'raleway';
  font-weight: 200;
  margin-bottom: 30px;
  color: white;
}

.media-heading {
  padding-top: 12px;
}

.media-object {
  border-radius: 50%;
}

.media-object:hover {
  cursor: pointer;
}

#members-groups {
  margin-top: 50px;
  margin-bottom: 50px;
}

#members {
  margin-bottom: 30px;
}

#insideContent {
  font-size: 20px;
  padding-top: 10px;
}

.glyphicon-plus:hover {
  color: #80b1e8;
}

.glyphicon-plus {
  margin-left: 5px;
  font-size: 15px;
  cursor: pointer;
}


/* 
=================================
          COMMUNITY SIGN UP
=================================
*/


.error-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: red;
}

.modal-singUp .modal-dialog{
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 200px;
}

.singUpTitle {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #71787F;
}

.singUpForm {
  margin-bottom: 20px;
}

.singUp {
  text-align: center;
}

.singUpTable {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width:80%;
}

tr {
  height:40px;
}


/* 
=================================
            USER PROFILE
=================================
*/


#user {
  background-image: url("/app/assets/profilebg.png");
  background-size: 100% 100%;
  width: 260px;
  height: 390px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 5px #888888;
}

.inputChatField {
  width: 100%;
}

.messagesSpace {
  margin-bottom: 10px;
}
/*chat.js ends here*/


/*dashboard.html css starts here*/
.dashboard {
  height: 34vh;
  background-color: #80b1e8;
  overflow-x: scroll;
}

/*user and community profile*/
.dashboardProfile {
  height: 8vh;
  background-color: #2869b2;
  color: white;
}

/*users and rooms title*/
.dashboardInfo {
  height: 8vh;
  background-color: #80b1e8;
}


/* 
=================================
          BOTTOM SIDEBAR
=================================
*/


#userBottomSidebar {
  position: absolute;
  color: #2869b2;
  margin-top: 4vh;
  margin-left: 4%;
}

.dashboardContent {
  margin-left: 10%;
}


/* 
=================================
            TOP SIDEBAR
=================================
*/


#communityTopSidebar {
  position: absolute;
  background-color: #2869b2;
  width:24%;
  height: 60px;
  top:0;
  display: inline-block;
  z-index: 3;
}


#contentImage {
  margin-top: 2%;
  margin-left: 4%;
  height: 40px;
  width: 40px;
} 



/* 
=================================
            DASHBOARD
=================================
*/



.usersColor {
  color: #2869b2;
}

/*private room glyphicon icon*/
.glyphicon-user-add {
  width: 16px;
  height: 12px;
}

.glyphicon-user-add:hover {
  opacity: 0.5;
}

#linkColor {
  color: white;
}

#linkColor:hover {
  color: #2869b2;
}

.dashboardName {
  margin-left: 4%;
}

.usersColor {
  color: #2869b2;
}

/*Modal private room start here*/
.privateRoomModal{
  background-color: #2869b2;
  color: white;
}

.modalStyle {
  overflow: auto;
  height: 100px;
}

#myModal {
  color:black;
  left: 200px;
  z-index: 10;
}

.userLinkColor {
  color: #2869b2;
  cursor:pointer;
}

.userLinkColor:active {
  color: #80b1e8;
}

.modalImage {
  margin-right: 10px;
  width:20px;
  height:20px
}

#github {
  width: 180px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/*Nav Bar*/
.navbar-default {
  margin-bottom: 0px;
  background-image: none;
  background-color: #fff;
}

/*Interim Name*/
#nameLoginPage {
  color: #0288d1;
  font-size: 450%;
  text-align: center;
  margin-top: 15%;
}

/* 
=================================
            CHAT
=================================
*/

.messageInput{
 height: 8vh;
}

.messageData{
 height: 92vh;
 overflow-x: scroll;
}

.inputSize{
 margin-right: auto;
 margin-left: auto;
 width: 90%;
}

.messageText {
 word-wrap: break-word;
}

#chatImage {
 width: 36px;
 height: 36px;
}

.img-rounded {
 cursor: pointer;
}

.chatTime {
 color: #888888 ;
 opacity: 0.4;
 margin-left: 5px;
 cursor: pointer;
}

.userNameChat {
 color:#2869b2 ;
 opacity: 0.6;
}

.inputChatField {
 width: 100%;
}

.messagesSpace {
 margin-bottom: 10px;
}

/* 
=================================
            MESSAGES
=================================
*/


#chatMessage {
  position: absolute;
  top: 2%;
  right:0;
  height: 95vh;
}
/*landingPage.html css ends here*/

/*yourCommunityList.html css starts here*/

.community-image {
  height: 90%;
  width: 90%;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#navContent {
  float:right;
  padding-right: 2%;
}

.thumbnail {
  box-shadow: 0px 3px 3px gray !important;
}

#community-search {
  text-align: center;
}

#community-tabs {
  text-align: center;
}

#user {
  background-image: url("/app/assets/profilebg.png");
  background-size: 100% 100%;
  width: 260px;
  height: 390px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 5px #888888;
}

#userProfileImage {
  border: 2px solid white;
  width: 100%;
  height: 42%;
}

#profileImage {
  width: 98%;
  height: 98%;
}

#userProfileName {
  text-align: center;
  color: white;
}

/* 
=================================
             CHAT INPUT
=================================
*/


#chatRow {
  position: absolute;
  width: 60%;
  bottom: 1%;
  visibility: hidden;
  z-index: 2;
  left:18%;
}

#userBio {
  height: 30%;
  overflow: auto;
}


/* 
=================================
          PROFILE MODAL 
=================================
*/


.userProf {
  text-align: center;
}

#modalProfilePic {
  border-radius: 2px;
  height: 45%;
  width: 45%;
}

#profileEditor {
  margin-right: 100%;
  background-color: white;
}

.userProf p {
  margin: 0 10%;
}

.userProf a {
  margin: 0 2%;
  font-size: 35px;
  text-decoration: none;
}

#profileHeaders {
  margin-top: 20px;
}


/* 
=================================
          EDIT PROFILE
=================================
*/


#locationEditor, #bioEditor, .urlEditor {
  margin: 1%, 0;
  border-radius: 1px;
}

#bioEditor {
  width: 45%;
  height: 30%;
  padding: 5px;
  border-color: gray;
}

.urlEditor {
  margin-bottom: 1%;
}


/* 
=================================
          CREATE GROUP
=================================
*/


.groupModal {
  text-align: center;
  margin: 0 -5%;
}

#group_name {
  margin-bottom: 3%;
  border-radius: 2px;
}

#checkbox {
  margin-bottom: 3%;
}

.groupModal button {
  margin-bottom: 2%;
}



/* 
=================================
          DASHBOARD
=================================
*/


.dashboard {
  height: 34vh;
  background-color: #80b1e8;
  overflow-x: scroll;
}

/*user and community profile*/
.dashboardProfile {
  height: 8vh;
  background-color: #2869b2;
  color: white;
}

/*users and rooms title*/
.dashboardInfo {
  height: 8vh;
  background-color: #80b1e8;
}

.dashboardTitle{
  position: absolute;
  color: #2869b2;
  margin-top: 4vh;
  margin-left: 4%;
}

.dashboardContent {
  margin-left: 10%;
}

#contentImage {
  margin-top: 2%;
  margin-left: 4%;
  height: 40px;
  width: 40px;
} 


/*private room glyphicon icon*/
.glyphicon-user-add {
  width: 16px;
  height: 12px;
}

.glyphicon-user-add:hover {
  opacity: 0.5;
}

#linkColor {
  color: white;
}

#linkColor:hover {
  color: #2869b2;
}

.dashboardName {
  margin-left: 4%;
}

/*Modal private room start here*/
.privateRoomModal{
  background-color: #2869b2;
  color: white;
}

.modalStyle {
  overflow: auto;
  height: 100px;
}

#myModal {
  color:black;
  left: 200px;
  z-index: 10;
}

.userLinkColor {
  color: #2869b2;
  cursor:pointer;
}

.userLinkColor:active {
  color: #80b1e8;
}

.modalImage {
  margin-right: 10px;
  width:20px;
  height:20px
}