<form editable-form name="editProfile" onaftersave="save()" class="userProf" ng-init="checkUser()">
  <div class="userProf">
    <h2>{{clickedUser.name}}</h2>
    <img id='modalProfilePic' ng-src='{{clickedUser.avi_url}}'/>
    <br>
    <span editable-text="clickedUser.avi_url" e-form="editProfile"></span>
    <br>
    <div id="profileHeaders"> 
      <h4>Location: </h4><p id="userLocation" editable-text="clickedUser.profile.location" e-form="editProfile">{{clickedUser.profile.location}}</p>
      <br>
      <h4>Biography: </h4><p editable-textarea="clickedUser.profile.bio" e-form="editProfile" e-rows="7" e-cols="40">{{clickedUser.profile.bio}}</p>
      <br>
    </div>
    <!-- This adds buttons that link to the individual's other social profiles -->
    <a target="_new" href="{{clickedUser.profile.twitter}}">
      <i class="fa fa-twitter"></i>
    </a>
    <span editable-text="clickedUser.profile.twitter" e-form="editProfile"></span>
    <a target="_new" href='{{clickedUser.profile.linkedIn}}'>
      <i class="fa fa-linkedin"></i> 
    </a>
    <span editable-text="clickedUser.profile.linkedIn" e-form="editProfile"></span>
    <br>
    <button type="button" class="btn btn-warning"  ng-if="editAllowed" ng-click="editProfile.$show()" ng-hide="editProfile.$visible" id="editProfile">Edit Profile</button>

    <span ng-show="editProfile.$visible">
      <button type="submit" class="btn btn-primary" ng-disabled="editProfile.$waiting">
        Save
      </button>
      <button type="button" class="btn btn-default" ng-disabled="editProfile.$waiting" ng-click="editProfile.$cancel()">
        Cancel
      </button>
    </span>
  </div>
</form>