<div class="userProf" ng-init="checkUser()" ng-if="!editorEnabled && !makeProfile">
  <h2>{{clickedUser.name}}</h2>
  <img id='modalProfilePic' ng-src='{{clickedUser.avi_url}}'/>
  <br>
  <div id="profileHeaders"> 
    <h4>Location: </h4><p id="userLocation">{{clickedUser.profile.location}}</p>
    <br>
    <h4>Biography: </h4><p>{{clickedUser.profile.bio}}</p>
    <br>
  </div>
  <!-- This adds buttons that link to the individual's other social profiles -->
  <a target='_new' href="{{clickedUser.profile.twitter}}">
    <i class="fa fa-twitter"></i>
  </a>
  <a target='_new' href='{{clickedUser.profile.linkedIn}}'>
    <i class="fa fa-linkedin"></i> 
  </a>
  <br>
  <button type="button" class="btn btn-warning" ng-if="editAllowed" ng-click="editProfile()" id="profileEditor">Edit Profile</button>
</div>

<form name="editProfile" class="userProf" ng-if="editorEnabled || makeProfile">
  <br>
  <h2>{{clickedUser.name}}</h2>
  <img id='modalProfilePic' ng-src='{{clickedUser.avi_url}}'/>
  <br>
  <div id="profileHeaders">
    <h4>Location: </h4>
    <input name="location" id="locationEditor"ng-model="edit.location" autocomplete="on" placeholder="{{clickedUser.profile.location}}" required>
    <p ng-show="editProfile.location.$invalid && !editProfile.location.$pristine" class="error-block">Please enter location.</p>
    <h4>Biography: </h4>
    <textarea name="bio" id="bioEditor" ng-model="edit.bio" autocomplete="on" placeholder="{{clickedUser.profile.bio}}" required></textarea>
    <p ng-show="editProfile.bio.$invalid && !editProfile.bio.$pristine" class="error-block">Please enter biography.</p> 
  </div>
  <br> 
  Links: 
  <input name="twitter "class="urlEditor" ng-model="edit.twitter" autocomplete="on" placeholder='Twitter' required/>
  <input name="linkedin "class="urlEditor" ng-model="edit.linkedIn" autocomplete="on" placeholder='LinkedIn' required/>
</input>
  <br>
  <button type="button" class="btn btn-success" ng-disabled="editProfile.$invalid" ng-if="editAllowed" ng-click="save(edit)">Save</button>
  <button type="button" class="btn btn-danger"  ng-if="editAllowed" ng-click="cancel()">Cancel</button>
</form>