<div class="userProf" ng-init="checkUser()" ng-if="!editorEnabled && !makeProfile">
  <h2>{{clickedUser.name}}</h2>
  <img id='modalProfilePic' ng-src='{{clickedUser.avi_url}}'/>
  <br>
  <div id="profileHeaders"> 
    <h4>Location: </h4><p id="userLocation">{{clickedUser.profile.location}}</p>
    <br>
    <h4>Biography: </h4><p>{{clickedUser.profile.bio}}</p>
    <br>
  </div>
  <!-- This adds buttons that link to the individual's other social profiles -->
  <a target='_new' href="{{clickedUser.profile.twitter}}">
    <i class="fa fa-twitter"></i>
  </a>
  <a target='_new' href='{{clickedUser.profile.linkedIn}}'>
    <i class="fa fa-linkedin"></i> 
  </a>
  <br>
  <button type="button" class="btn btn-warning" ng-if="editAllowed" ng-click="editProfile()" id="profileEditor">Edit Profile</button>
</div>

<div class="userProf" ng-if="editorEnabled || makeProfile">
  <br>
  <h2>{{clickedUser.name}}</h2>
  <img id='modalProfilePic' ng-src='{{clickedUser.avi_url}}'/>
  <br>
  <div id="profileHeaders">
    <h4>Location: </h4>
    <input id="locationEditor" ng-model="edit.location" autocomplete="on" placeholder="{{clickedUser.profile.location}}">
    <br>
    <h4>Biography: </h4>
    <textarea id="bioEditor" ng-model="edit.bio" autocomplete="on" placeholder='{{clickedUser.profile.bio}}'></textarea> 
  </div>
  <br> 
  Links: 
  <input class="urlEditor" ng-model="edit.twitter" autocomplete="on" placeholder='{{clickedUser.profile.twitter}}'>
  <input class="urlEditor" ng-model="edit.linkedIn" autocomplete="on" placeholder='{{clickedUser.profile.linkedIn}}'>

  <br>
  <button type="button" class="btn btn-success" ng-if="editAllowed" ng-click="save(edit)">Save</button>
  <button type="button" class="btn btn-danger" ng-if="editAllowed" ng-click="cancel()">Cancel</button>
</div>