<!-- <div ui-view="navBar"></div>  -->

<div id="yourCommunityList" ng-controller="YourCommunityListController">

  <!-- Communities Title-->
  <div id="YourCommunitiesName">
    <div><h1>Your Communities</h1>
    </div>

     <!-- Your Communities -->
    <span class="thumbnail" id="communityThumbnail" ng-repeat="(key,value) in communities">
        <a href="#/community-profile/{{value.name}}" >
          <!-- <a href="#/contacts/3" ui-sref="contacts.detail({ id: contact.id })"> -->
         {{value.name.toUpperCase()}} </a>
        <img class="communityImage" src={{value["avi_url"]}} id="communityIcon" ng-click="communityProfile(this)" />
    </span>

<!-- Search -->
  <div id="CommunitiesSearch">
   <input type="text" ng-model="requested" ng-keyup="$event.keyCode == 13 && sendSearch(requested)" class="searchBar" maxlength="40" data-minlength="1" placeholder="Search for new groups!" required/>
  </div>
</div>

<!-- All Existing Communities. To-Do: filtered by search terms-->
  <div id="YourCommunitiesName">
    <div><h1>All Communities</h1>
    </div>

    <span class="thumbnail" id="communityThumbnail" ng-repeat="(key,value) in Communities | limitTo:5">
        <a href="#/community-profile/{{value.name}}">
         {{value.name.toUpperCase()}} </a>
        <img class="communityImage" src={{value["avi_url"]}} id="communityIcon" ng-click="communityProfile(this)" />
    </span>
