  <div ui-view="navBar"></div>

  <div id="yourCommunityList" ng-controller="YourCommunityListController">

    <!-- Communities Title-->
    <div id="YourCommunitiesName">
      <div>
        <h1 id="welcomeMessage">Your Communities</h1>
      </div>

       <!-- Your Communities -->
      <span class="thumbnail" id="communityThumbnail" ng-repeat="(key,value) in communities">
        <a href="#/community-profile/{{value.name}}" >
          <!-- <a href="#/contacts/3" ui-sref="contacts.detail({ id: contact.id })"> -->
           {{value.name.toUpperCase()}} 
          <img class="communityImage" src={{value["avi_url"]}} id="communityIcon" ng-click="communityProfile(this)"/>
        </a>
      </span>

  <!-- Search -->

  <!-- All Existing Communities. To-Do: filtered by search terms-->
    <div id="YourCommunitiesName">
      <div id="searchbar" class="col-mid-8">
        <form class="search-bar-form" id="searchbarform">
          <input id="search-box" placeholder="Discover More">
          <button id="search-button" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button> 
        </form>
      </div>

      <span class="thumbnail" id="communityThumbnail" ng-repeat="(key,value) in Communities">
        <a href="#/community-profile/{{value.name}}">
           {{value.name.toUpperCase()}}
          <img class="communityImage" src={{value["avi_url"]}} id="communityIcon" ng-click="communityProfile(this)" />
        </a>
      </span>