<div ng-controller="ChatController">
  <div class="row navData">
    <span class="currentRoomName">{{roomName}}</span>
    <div class="btn-group">
      <a class="glyphicon glyphicon-th-list" title="Menu" data-toggle="dropdown"></a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#/communities">Communities</a></li>
        <li role="presentation"><a href="#/signin" ng-click="signOut()">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div class="row messageData" scroll-glue>
    <div class="inputSize">
      <article class="row messagesSpace" ng-repeat="message in messages">
        <div class="row col-sx-12">
          <!-- displays users picture -->
          <div class="col-xs-1">
            <img src={{message.userProfileImage}} ng-click="userModal(message)" class="img-rounded" id="chatImage"/>
          </div>
          <div class="row col-xs-11"> 
            <!-- displays users name -->
            <span class="userNameChat">{{message.name}}</span>
              <!-- displays time when message was send -->
            <span class="chatTime" title={{message.timestamp|date:'fullDate'}}>{{ message.timestamp|date:'shortTime'}}</span><br>
            <!-- displays usesrs message -->
            <span class="messageText"> {{message.message}} </span>
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="row messageInput" novalidate>
    <div class="inputSize">
    <!-- input sends message when user presses enter key on key board -->
    <input type="text" maxlength="300" data-minlength="1" class="form-control inputChatField" ng-model="msg" placeholder="Enter message here..." ng-keyup="$event.keyCode == 13 && sendMessage()" required />
  </div>
  </div>
</div>
