<div class="chat" ng-controller="ChatController">
  <div class="col-xs-9 hundred" id ="chatMessage">
    <!-- contains all messages -->
    <div id="contentMessages" scroll-glue>
      <!-- single message -->
      <div class="message" ng-repeat="message in messages ">
        <article class="row">
          <div class="col-md-12 col-sm-12">
            <div class="panel panel-default arrow left">
              <div class="panel-body">
                <!-- displays user's picture -->
                <div class="col-md-2 col-sm-2 hidden-xs">
                <img src={{message.userProfileImage}} ng-click="userModal(message)" class="img-rounded" id="chatImage"/>
                </div>
                <!-- displays user's name -->
                <span class="userNameChat"><i class="fa fa-user"></i> {{message.name}}
                  <!-- displays time when message was send -->
                  <time id="chatTime"><i class="fa fa-clock-o"></i> {{ message.timestamp| date:'short'}}
                  </time>
                </span>
               <!-- displays usesr's message -->
                <div>
                  <p class="messageText">
                    {{message.message}}
                  </p>
                </div>
              </div> 
            </div>
          </div>
        </article>
      </div>
    </div>

    <!-- chat input -->
    <form class="row" id="chatRow" novalidate="">
      <div>
        <!-- input sends message when user presses enter key on key board -->
        <input type="text" maxlength="120" data-minlength="1" class="form-control inputChatField" ng-model="msg" placeholder="Enter message here..." ng-keyup="$event.keyCode == 13 && sendMessage()" required />
      </div>
    </form>
  </div>
</div>
