<div class="chat" ng-controller="ChatController">
  <div class="col-xs-9 hundred" id ="chatMessage">
    <!-- contains all messages -->
    <div id="contentMessages" scroll-glue>
      <!-- single message -->
      <div class="message" ng-repeat="message in messages ">
        <article class="row">
          <div class="col-md-12 col-sm-12">
            <div class="panel panel-default arrow left">
              <div class="panel-body">
                <!-- displays users picture -->
                <div class="col-md-2 col-sm-2 hidden-xs">
                <img src={{message.userProfileImage}} ng-click="personalInfo(message)" class="img-rounded" id="chatImage"/>
                </div>
                <!-- displays users name -->
                <div><i class="fa fa-user"></i> {{message.name}}
                  <!-- displays time when message was send -->
                  <time id="chatTime"><i class="fa fa-clock-o"></i> {{ message.timestamp| date:'medium' }}
                  </time>
                </div>
               <!-- displays usesrs message -->
                <div>
                  <p>
                    {{message.message}}
                  </p>
                </div>
              </div> 
            </div>
          </div>
        </article>
      </div>
    </div>

    <!-- chat input -->
    <div class="row" id="chatRow">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-btn">
            <!-- chat input settings button -->
            <button class="btn btn-default" type="button" id="chatUpButton">
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </button>
          </span>
          <!-- input sends message when user presses enter key on key board -->
          <input type="text" ng-model="msg" ng-keyup="$event.keyCode == 13 && sendMessage()" class="form-control" placeholder="Enter message here..."/>
        </div>
      </div>
    </div>


    <div>
  </div>
</div>
