<!-- Insert nav here -->

<div>
  <div class="jumbotron">
    <div class="container">
      <!-- Icon for company -->
      <div class="communityProfAvi" id="communityProfAvi">
        <img src="/app/assets/mSquare.png" id="msIcon" width="200" height="200">
      </div>
        <h2>{{community.name}}</h2>
      <div class="communityProfBasicInfo"
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
      <button type="button" class="btn btn-warning">Join!</button>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Members</h2>
        <div ng-repeat="user in users">
          <div>{{user.$value}}</div>
        </div>  
      </div>
      <!-- groups here -->
      <div class="col-md-4 profileBucket">
        <h2>Groups
          <!-- create groups by clicking on plus icon -->
          <!-- TODO ---- HIDE THE CREATE GROUP DIV IF USER IS NOT A COMMUNITY ADMIN -->
          <div class="glyphicon glyphicon-plus" ng-click="groupModal()" title="Add Group"></div>
        </h2>
        <div class="groupList">
        <!-- show public groups -->
        <h6 ng-repeat="group in groups | orderBy: 'name'| filter: publicGroup" id="insideContent"><a href="javascript:void(0);" ng-click="getGroup(group);">{{group.name}}</a></h6>

        <!-- show private groups only to right users -->
        <h6 ng-repeat="group in groups | orderBy: 'name'| filter: privateGroup" id="insideContent"><a href="javascript:void(0);" ng-click="getGroup(group);">{{group.name}}</a>
          <span data-toggle="modal" data-target="#myModal" ng-click="selectingGroup(group.id)"> <img class = "glyphicon-user-add" title="Add User" src="/app/assets/glyphicons-user-addBlack.png"/></span>
        </h6>
        </div>

        <div data-backdrop="false" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header privateRoomModal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click = 'updateUsersList();'>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add User to Private Group</h4>
              </div>
              <div class="modal-body modalStyle">
                <h6 id="insideContent" ng-repeat="user in allUsers| orderBy: name" ng-click="addUser(user);"> 
                  <span class =" userLinkColor" ng-click= "removeUser(user.id, user.name);" id={{user.id}}> <img src={{user.avi_url}} class="img-rounded modalImage"/>{{user.name}}</span>
                </h6>
              </div>
              <div class="modal-footer privateRoomModal">
                <span> * click on user to add user </span>
              </div>
            </div>
          </div>
        </div>

     </div>

      <div class="col-md-4">
        <h2>Staff</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
  </div> <!-- /container -->
</div>