<div ui-view="navBar"></div>
<div ng-init="checkUser()" class="community-profile-wrap">
  <div class="jumbotron">
    <div class="container">

      <form editable-form name="editProfile" onaftersave="save()">

        <div class="communityProfAvi">
          <img src="{{community.avi_url}}" id="communityIcon" width="200" height="200" class="communityAvi">
          <br>
          <span editable-text="community.avi_url" e-form="editProfile" placeholder="Avi Url">
          </span>

          <div class="communitySocial">
            <span editable-text="community.profile.location" e-form="editProfile" placeholder="Location">
              <i class="fa fa-location-arrow" id="location"></i>{{community.profile.location}}
            </span> 
            <br>
            <a target='_new' href='{{community.profile.website}}'>
              <span editable-text="community.profile.website" e-form="editProfile" placeholder="Website">
                {{community.profile.website}}
              </span>
            </a>
            <a target='_new' href="{{community.profile.twitter}}" id="community-social-btn" placeholder="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <span editable-text="community.profile.twitter" e-form="editProfile"></span>
          </div>

        </div>
        <div class="communityProfBasicInfo">
          <h2 id="community-name">{{community.name.toUpperCase()}}</h2>
          <span editable-textarea="community.profile.bio" e-form="editProfile" e-rows="7" e-cols="40" id="comm-bio">
            {{community.profile.bio}}
          </span>
        </div>

        <span ng-show="editProfile.$visible">
          <button type="button" class="btn btn-default" ng-disabled="editProfile.$waiting" ng-click="editProfile.$cancel()">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" ng-disabled="editProfile.$waiting">
            Save
          </button>
        </span>
      </form>
      <div class='button-holder'>
        <button type="button" class="btn btn-default" ng-if="editAllowed" ng-click="editProfile.$show()" ng-hide="editProfile.$visible">Edit Profile</button>
        <button type="button" class="btn btn-warning" ng-click="joinCommunity()" ng-hide="editProfile.$visible" ng-if="joinHide">Join!</button>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row" id="members-groups">


      <div class="col-xs-6">
        <h2 id="members">Members</h2>
        <div class="media" ng-repeat="(key, value) in users">
          <div class="media-left">
              <img class="media-object" src="{{allUsersObj[key].avi_url}}" height="50" width="50" ng-click="userModal(allUsersObj[key])">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{value}}</h4>
          </div>
        </div>
      </div>


      <div class="col-xs-6">
        <h2>Groups
          <span class="glyphicon glyphicon-plus" ng-hide="addNewGroup" ng-click="groupModal()" title="Add Group"></span>
        </h2>
        <div class="groupList">
        <!-- show public groups -->
        <h6 ng-repeat="group in groups | orderBy: 'name'| filter: publicGroup" id="insideContent"><a href="javascript:void(0);" ng-click="getGroup(group);">{{group.name}}</a></h6>

        <!-- show private groups only to right users -->
        <h6 ng-repeat="group in groups | orderBy: 'name'| filter: privateGroup" id="insideContent"><a href="javascript:void(0);" ng-click="getGroup(group);">{{group.name}}</a>
          <span data-toggle="modal" data-target="#myModal" ng-click="selectingGroup(group.id)"> <img class="glyphicon-user-add" title="Add User" src="/app/assets/glyphicons-user-addBlack.png"/></span>
        </h6>
        </div>

        <div data-backdrop="false" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header privateRoomModal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click = 'updateUsersList();'>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add User to Private Group</h4>
              </div>
              <div class="modal-body modalStyle">
                <h6 id="insideContent" ng-repeat="user in allUsers| orderBy: name" ng-click="addUser(user);">
                  <span class =" userLinkColor" ng-click= "removeUser(user.id, user.name);" id={{user.id}}> <img src={{user.avi_url}} class="img-rounded modalImage"/>{{user.name}}</span>
                </h6>
              </div>
              <div class="modal-footer privateRoomModal">
                <span> * click on user to add user </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div>
