<div ui-view="navBar"></div>
<div>
  <div class="jumbotron">
    <div class="container">
      <form editable-form name="editProfile" onaftersave="save()">
        <!-- Icon for company -->
        <div class="communityProfAvi" id="communityProfAvi">
          <img src="{{community.avi_url}}" id="msIcon" width="200" height="200">
          <br>
          <span editable-text="community.avi_url" e-form="editProfile"></span>
        </div>
          <h2>{{community.name}}</h2>
        <div class="communityProfBasicInfo">
          <span editable-textarea="community.profile.bio" e-form="editProfile" e-rows="7" e-cols="40">
            {{community.profile.bio}}
          </span>
        </div>
        <button type="button" class="btn btn-warning" ng-click="joinCommunity()" ng-hide="editProfile.$visible">Join!</button>
        <button type="button" class="btn btn default" ng-if="editAllowed" ng-click="editProfile.$show()" ng-hide="editProfile.$visible" id="profileEditor">Edit Profile</button>
        <!-- buttons to submit / cancel form -->
          <span ng-show="editProfile.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editProfile.$waiting">
              Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="editProfile.$waiting" ng-click="editProfile.$cancel()">
              Cancel
            </button>
          </span>
      </form>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Members</h2>
        <div ng-repeat="(key, value) in users">
          <div>{{value}}</div>
        </div>
      </div>
      <!-- groups here -->
      <div class="col-md-4 profileBucket">
        <h2>Groups
          <div class="glyphicon glyphicon-plus" ng-hide="addNewGroup" ng-click="groupModal()" title="Add Group"></div>
        </h2>
        <div class="groupList">
        <!-- show public groups -->
        <h6 ng-repeat="group in groups | orderBy: 'name'| filter: publicGroup" id="insideContent"><a href="javascript:void(0);" ng-click="getGroup(group);">{{group.name}}</a></h6>

        <!-- show private groups only to right users -->
        <h6 ng-repeat="group in groups | orderBy: 'name'| filter: privateGroup" id="insideContent"><a href="javascript:void(0);" ng-click="getGroup(group);">{{group.name}}</a>
          <span data-toggle="modal" data-target="#myModal" ng-click="selectingGroup(group.id)"> <img class = "glyphicon-user-add" title="Add User" src="/app/assets/glyphicons-user-addBlack.png"/></span>
        </h6>
        </div>

        <div data-backdrop="false" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header privateRoomModal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click = 'updateUsersList();'>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add User to Private Group</h4>
              </div>
              <div class="modal-body modalStyle">
                <h6 id="insideContent" ng-repeat="user in allUsers| orderBy: name" ng-click="addUser(user);">
                  <span class =" userLinkColor" ng-click= "removeUser(user.id, user.name);" id={{user.id}}> <img src={{user.avi_url}} class="img-rounded modalImage"/>{{user.name}}</span>
                </h6>
              </div>
              <div class="modal-footer privateRoomModal">
                <span> * click on user to add user </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div>
