<div ng-controller="DashboardController">
    <!-- organization info -->
    <div class="row dashboardProfile">
      <!-- community profile image -->
        <img src="/app/assets/makersquareProfile.png" class="img-rounded" id="contentImage"> 
        {{groupName}}
    </div>

    <div class="row dashboardInfo">
      <span class="dashboardTitle"> Rooms 
       <div class="glyphicon glyphicon-plus" ng-click="addRoom()" title="Add Room" data-target="#addRoomAlert" ></div>
      </span>
    </div>

    <!-- rooms list -->
    <div class="row dashboard">
      <!-- Each public room -->
      <h6 ng-repeat="room in rooms | orderBy: 'name'| filter: filterPublic" class="dashboardContent"><a href="javascript:void(0);" ng-click="roomName(this);" ng-init="firstRoom(this);" id="linkColor">{{room.name}}</a> </h6>

      <!-- show each private room that matches user id -->
      <h6 ng-repeat="room in rooms | orderBy: 'name'| filter: filterPrivate" class="dashboardContent"><a href="javascript:void(0);" ng-click="roomName(this);" ng-init="firstRoom(this);" id="linkColor">{{room.name}}</a>
        <span data-toggle="modal" data-target="#myModal" ng-click="selectingRoom(room.id)"> <img class="glyphicon-user-add" title="Add User" src="/app/assets/glyphicons-user-add.png"/></span>
      </h6>
    </div> 

    <div class="row dashboardInfo">
      <span class="dashboardTitle">Users</span>
    </div>

    <div class="row dashboard">

      <h6 class="dashboardContent" ng-repeat="user in allUsers| orderBy: name">{{user.name}}</h6>
    </div>  

    <div class="row dashboardProfile"> 
      <!-- user's profile image -->
      <img src="{{profileImage}}" class="img-circle" id="contentImage">
      {{userName}} 
      <span class="glyphicon glyphicon-pencil"></span>
    </div>

</div>
