<div ng-controller="DashboardController">
    <!-- organization info -->
    <div class="row dashboardProfile">
      <!-- community profile image -->
        <img src="/app/assets/makersquareProfile.png" class="img-rounded" id="contentImage"> 
        <span class="dashboardName">{{groupName}}</span>
    </div>

    <div class="row dashboardInfo">
      <span class="dashboardTitle"> Rooms 
       <div class="glyphicon glyphicon-plus" ng-click="addRoom()" title="Add Room" data-target="#addRoomAlert" ></div>
      </span>
    </div>

    <!-- rooms list -->
    <div class="row dashboard">
      <!-- Each public room -->
      <h6 ng-repeat="room in rooms | orderBy: 'name'| filter: filterPublic" class="dashboardContent"><a href="javascript:void(0);" ng-click="roomName(this);" ng-init="firstRoom(this);" id="linkColor">{{room.name}}</a> </h6>

      <!-- show each private room that matches user id -->
      <h6 ng-repeat="room in rooms | orderBy: 'name'| filter: filterPrivate" class="dashboardContent"><a href="javascript:void(0);" ng-click="roomName(this);" ng-init="firstRoom(this);" id="linkColor">{{room.name}}</a>
        <span data-toggle="modal" data-target="#myModal" ng-click="selectingRoom(room.id)"> <img class="glyphicon-user-add" title="Add User" src="/app/assets/glyphicons-user-add.png"/></span>
      </h6>
    </div> 

    <!-- Modal for Adding Users To Private Room -->
    <div data-backdrop="false" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header privateRoomModal">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click = 'updateUsersList();'>&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add User to Private Room</h4>
          </div>
          <div class="modal-body modalStyle">
            <h6 id="insideContent" ng-repeat="user in allUsers| orderBy: name" ng-click="addUser(user);"> 
              <span class =" userLinkColor"> <img src={{user.avi_url}} class="img-rounded modalImage"/>{{user.name}}</span>
            </h6>
          </div>
          <div class="modal-footer privateRoomModal">
            <span> * click on user to add user </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row dashboardInfo">
      <span class="dashboardTitle">Users</span>
    </div>

    <div class="row dashboard">

      <h6 class="dashboardContent usersColor" ng-repeat="user in allUsers| orderBy: name">
        <img src={{user.avi_url}} class="img-circle img-rounded modalImage"/>{{user.name}}</h6>
    </div>  

    <div class="row dashboardProfile"> 
      <!-- user's profile image -->
      <img src="{{profileImage}}" class="img-circle" id="contentImage">
      <span class="dashboardName">{{userName}}</span>
    </div>
</div>
